*{
    box-sizing: border-box;
}

body{
    font-family: 'Asap', sans-serif;
    color: #292728;
}

.background{
    width: 100%;
    height: 100vh;
    background-color:  #FBF8FB;  
}

.header{
    border-bottom: 1px solid #EFEFEE;
    color: #9E999C;
    display: flex;
    flex: none;
    justify-content: space-between;  
}
.header__logo{
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.menu__avatar{
    position: relative;
}
.menu__avatar--img{
    width: 50px;
    margin-right: 16px;
    border-radius: 50%;
}

.menu__avatar::after{
    width: 24px;
    height: 24px;
    content:"2";
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -8px;
    background-color: #026AD1;
    color: white;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
}


.header__title{
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

.menu{
    padding: 20px 40px;
    display: flex;
    flex: none;
    align-items: center;
    border-left: 1px solid #EFEFEE; 
}

.content__title{
    padding: 40px 0;
}
.content__title--princ{
    font-size: 40px;
    font-weight: inherit;
}


.content__title--subtitle{
    margin-top: 20px;
    color: #B4B4B4 ;
}

.content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
.card{

    background-color: white;
    border : 1px solid #EFEFEE;
    padding: 20px 40px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex: none;
    align-items: center;
    margin-bottom:  20px;
}

.card__circle{
    width: 100px;
    height: 100px;
    background-color: #E5EFF5 ;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

.card__icone{
    width: 50px;
}
.card__title{
    font-size: 32px;
    margin: 0 0 8px;
}
.card__description{
    color: #B4B4B4 ;
    margin: 0;
}

.card__circle--red{
    width: 100px;
    height: 100px;
    background-color: #FEE0DF ;
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){

    .header{
        flex-direction: column-reverse;
        padding: 20px;
    }

    .header__title{
        width: 100%;
    }

    .menu{
        width: 100%;
    }

    .card{
        flex-direction: column;
        align-content: center;
        padding: 20px;
    }

    .card__text{
        margin-top : 20px;
    }


}